version: "3.9"

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    image: job-readiness-backend
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - backend/.env
    depends_on:
      - mongodb

  frontend:
    image: job-readiness-frontend
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo_data:
